@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Mart_SiparisTakipMVC.Models.Database.IsEmirleri>
@{
    ViewBag.Title = "THT İş Emirleri";
    Layout = "~/Views/Shared/_ViewerLayout.cshtml";
}
<meta http-equiv="refresh" content="3600000" />
<script>
    function oturumuKapat() {
        $.ajax({
            url: '/Giris/CikisYap', // Oturumu kapatma işlemini gerçekleştirecek MVC controller'ın URL'sini belirtin
            type: 'POST',
            dataType: 'json',
        });
    }

    // Sekme kapatıldığında oturumu kapatma işlemi
    window.onunload = function () {
        oturumuKapat();
    }
</script>
<br />
<h3>THT İş Emirleri - Toplam: <span style="color:blue;">@ViewBag.ThtIsEmirleriCount</span><img style=" float:right; margin-right:50px; width:230px; height:50px;" src="~/Content/martrenklilogo.png" /></h3>
<br />
<table class="table table-bordered">
    <tr>
        <th style="width:120px;">İş Emri No</th>
        <th style="width: 30px;">Ürün Kodu</th>
        <th style="width: 600px;">Ürün İsmi</th>
        <th style="width: 50px;">Üretilecek</th>
        <th style="width: 50px;">Üretilen</th>
        <th style="width: 50px;">Kalan</th>
        <th title="Planlanan Başlama Tarihi" style="width: 60px;">P. Bşl. Tarihi</th>
        <th title="Planlanan Bitiş Tarihi" style="width: 60px;">P. Bitiş Tarihi</th>
        <th title="İş Emri Tipi" style="width:40px;">Emir Tipi</th>
        <th style="width: 35px;">Kalan Gün</th>
        @*<th style="width:200px;">Not</th>*@        
    </tr>
    @foreach (var tht in Model)
    {
        var kalangun = (Convert.ToDateTime(tht.msg_S_0366) - Convert.ToDateTime(System.DateTime.Today)).Days;

        if (tht.is_SorumlulukMerkezi == "70")
        {
            tht.is_SorumlulukMerkezi = "SMD";
        }
        else if (tht.is_SorumlulukMerkezi == "80")
        {
            tht.is_SorumlulukMerkezi = "THT";
        }
        else
        {
            tht.is_SorumlulukMerkezi = "M.Montaj";
        }

        if (tht.msg_S_0366 < System.DateTime.Today)
        {
            <tr class="bg-danger">
                <td style="color:white; font-size:12px;">@tht.msg_S_0349</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0352</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0353</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0354</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0080</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0247</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0361.ToString("dd/MM/yyyy")</td>
                <td style="color: white; font-size: 12px;">@tht.msg_S_0366.ToString("dd/MM/yyyy")</td>
                <td style="color: white; font-size: 12px;">@tht.is_SorumlulukMerkezi</td>
                <td style="color: white; font-size: 12px;">@kalangun</td>
                @*<td style="color: white; font-size: 11px;">@tht.Not</td>*@                
            </tr>
        }
        else if ((tht.msg_S_0366 - System.DateTime.Today).TotalDays <= 7)
        {
            <tr class="bg-warning">
                <td style="color: black; font-size: 12px;">@tht.msg_S_0349</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0352</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0353</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0354</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0080</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0247</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0361.ToString("dd/MM/yyyy")</td>
                <td style="color: black; font-size: 12px;">@tht.msg_S_0366.ToString("dd/MM/yyyy")</td>
                <td style="color: black; font-size: 12px;">@tht.is_SorumlulukMerkezi</td>
                <td style="color: black; font-size: 12px;">@kalangun</td>
                @*<td style="color: black; font-size: 11px;">@tht.Not</td>*@                
            </tr>
        }
        else
        {
            <tr>
                <td style=" font-size: 12px;">@tht.msg_S_0349</td>
                <td style=" font-size: 12px;">@tht.msg_S_0352</td>
                <td style=" font-size: 12px;">@tht.msg_S_0353</td>
                <td style=" font-size: 12px;">@tht.msg_S_0354</td>
                <td style=" font-size: 12px;">@tht.msg_S_0080</td>
                <td style=" font-size: 12px;">@tht.msg_S_0247</td>
                <td style=" font-size: 12px;">@tht.msg_S_0361.ToString("dd/MM/yyyy")</td>
                <td style=" font-size: 12px;">@tht.msg_S_0366.ToString("dd/MM/yyyy")</td>
                <td style=" font-size: 12px;">@tht.is_SorumlulukMerkezi</td>
                <td style="color: black; font-size: 12px;">@kalangun</td>
                @*<td style=" font-size: 11px;">@tht.Not</td>*@                
            </tr>
        }
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("THTIsEmriViewer", new { sayfa }))



